# COPY THIS FILE TO .env AND FILL IN THE VALUES BELOW IN ORDER TO ENABLE
# COMPLETE TESTING OF PLUGINS. DO NOT COMMIT COPIED .env FILE TO GIT, AS
# IT CONTAINS SENSITIVE INFORMATION.

# npm token for managing packages in npm registry
NPM_TOKEN=

# deepseek harness official provider
DEEPSEEK_API_KEY=
